# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
_frontend/node_modules
_frontend/.pnp
_frontend/.pnp.js
_frontend/.yarn/install-state.gz
_api/node_modules
_mqttServer/node_modules

# testing
/coverage

# next.js
_frontend/.next/
_frontend/out/

# production
_frontend/build

# misc
_frontend/.DS_Store
_frontend/*.pem

# debug
_frontend/npm-debug.log*
_frontend/yarn-debug.log*
_frontend/yarn-error.log*

# local env files
_frontend/.env*.local

# vercel
_frontend/.vercel

# typescript
*.tsbuildinfo
_frontend/next-env.d.ts
node_modules
