# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.vscode

# dependencies
_app/node_modules
_app/.pnp
_app/.pnp.js
_app/.yarn/install-state.gz
legacy_api
_mqttServer/node_modules

# testing
/coverage

# next.js
_app/.next/
_app/out/

# production
_app/build

# misc
_app/.DS_Store
_app/*.pem

# debug
_app/npm-debug.log*
_app/yarn-debug.log*
_app/yarn-error.log*

# local env files
_app/.env*.local

# vercel
_app/.vercel

# typescript
*.tsbuildinfo
_app/next-env.d.ts
node_modules
